/node_modules
/public/build
/public/hot
/public/css/
/public/Aroma Shop-doc/
/public/storage
/public/scss/
/public/vendors/
/public/img/
/public/styl/
/public/mdi/
/resources/views/aroma-master/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
